<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title>OpenTelemetry Tracing</mat-card-title>
      <mat-card-subtitle>Example about this interceptor</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="opentelemery-config">
      <p>This is a call to the backend api <a href="http://localhost:3000/api"
          target="_blank">http://localhost:3000/api</a> (via proxy conf)</p>
      <p>You can see a trace in navigator console (and collector if you configure one)</p>
      <p>with the environment configuration</p>
      <textarea highlight-js [lang]="'json'">
        {
          opentelemetryConfig: {
            commonConfig: {
              console: true,
              production: false,
              serviceName: 'example-app',
              collector: Collector.otelcol,
              propagator: Propagator.composite,
            },
            otelcolConfig: {
              url: 'http://localhost:9090', //URL of opentelemetry collector
            }
          },
        }
      </textarea>
      <p>You can see the B3 headers, HttpTraceContext header and Jaeger Propagator header added</p>
      <textarea textarea highlight-js [lang]="'curl'">
        GET /api/ HTTP/1.1
Host: localhost:4200
Connection: keep-alive
Accept: application/json, text/plain, */*
//B3Propagator
x-b3-spanid: f357aee9e0840e7a
x-b3-sampled: 1
x-b3-traceid: 0a21853ab699e83ba1f9bcd39215d667
//HttpTraceContext
traceparent: 00-0a21853ab699e83ba1f9bcd39215d667-f357aee9e0840e7a-01
//JaegerPropagator
uber-trace-id: 0a21853ab699e83ba1f9bcd39215d667:f357aee9e0840e7a:0:01
...
      </textarea>
      <p><i>result call : {{result?.result}}</i></p>
    </mat-card-content>
  </mat-card>
</div>
